{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <div class="card">
    <div class="card-header w-100 d-flex flex-row justify-content-between align-items-center">
            <h5 class="card-title">Catégories</h5>
            <div class="card-tool">
    <a href="{{ path('app_categories_new') }}" class="btn btn-success">Créer une catégorie</a>
    </div>
    </div>

    <div class="card-body">
    <table class="table text-center align-middle" id="matableCategories">
        <thead class="text-primary">
            <tr>
                <th>Titre</th>
                <th>Contenus</th>
                <th>Créé le</th>
                <th>Actions</th>
            </tr>
        </thead>
            <tbody>
                
            </tbody>
    </table>
    </div>
    </div>

{% endblock %}
