{% extends 'base.html.twig' %}

{% block title %}Articles index{% endblock %}

{% block body %}
    <style>
        body {
            background-color: #f0f4f8;
        }
       
    </style>

    <div class="card">
        <div class="d-flex flex-wrap justify-content-between align-items-center gap-3">
            <h5 class="card-title m-0">Liste articles</h5>

            <div class="d-flex align-items-center gap-2">
                <select class="form-select form-select-sm w-auto" id="receiverSelect" name="receiverId">
                    <option selected disabled value="">Démarrer discussion avec</option>
                    {% for user in users %}
                        {% if user.pseudo != user_connecte %}
                            <option value="{{ user.id }}">{{ user.pseudo }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>

            <a href="{{ path('app_articles_new') }}" class="btn btn-success">Créer un article</a>
        </div>


        <div class="card-body">
            <table class="table text-center align-middle" id="matableArticles">
                <thead class="text-primary">
                <tr>
                    <th>Titre</th>
                    <th>Contenus</th>
                    <th>Créé le</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                
                </tbody>
            </table>
        </div>

    </div>

    <script>
    document.addEventListener('DOMContentLoaded', function () {
        const select = document.getElementById('receiverSelect');

        select.addEventListener('change', function () {
            const receiverId = this.value;
            if (receiverId) {
                window.location.href = '/chat/' + receiverId;
            }
        });
    });
</script>
{% endblock %}
