{% extends 'base.html.twig' %}

{% block title %}Articles index{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header w-100 d-flex flex-row justify-content-between align-items-center">
            <h5 class="card-title">Liste articles</h5>
            <div class="card-tool">
                <a href="{{ path('app_articles_new') }}" class="btn btn-success">Créer nouveau article</a>
            </div>
        </div>

        <div class="card-body">
            <table class="table text-center align-middle" id="matableArticles">
                <thead class="text-primary">
                <tr>
                    <th>Titre</th>
                    <th>Contenus</th>
                    <th>Créé le</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                
                </tbody>
            </table>

           
        </div>
    </div>
{% endblock %}
